In [1]:
import pandas as pd

In [2]:
co2_emissions = pd.read_csv('agrofood_co2_emission_cleaned.csv')
co2_emissions.head()

,Area,Year,Savanna fires,Forest fires,Crop Residues,Rice Cultivation,Drained organic soils (CO2),Pesticides Manufacturing,Food Transport,Forestland,...,On-farm energy use,Rural population,Urban population,Total Population - Male,Total Population - Female,total_emission,Average Temperature °C,Total Population,Temperature Category,Population Size
0,Afghanistan,1990,14.7237,0.0557,205.6077,686.00,0.0,11.807483,63.1152,-2388.803,...,141.0963,9655167.0,2593947.0,5348387.0,5346409.0,2198.963539,0.536167,10694796.0,Cold,Large
1,Afghanistan,1991,14.7237,0.0557,209.4971,678.16,0.0,11.712073,61.2125,-2388.803,...,141.0963,10230490.0,2763167.0,5372959.0,5372208.0,2323.876629,0.020667,10745167.0,Cold,Large
2,Afghanistan,1992,14.7237,0.0557,196.5341,686.00,0.0,11.712073,53.3170,-2388.803,...,141.0963,10995568.0,2985663.0,6028494.0,6028939.0,2356.304229,-0.259583,12057433.0,Cold,Large
3,Afghanistan,1993,14.7237,0.0557,230.8175,686.00,0.0,11.712073,54.3617,-2388.803,...,141.0963,11858090.0,3237009.0,7003641.0,7000119.0,2368.470529,0.101917,14003760.0,Cold,Large
4,Afghanistan,1994,14.7237,0.0557,242.0494,705.60,0.0,11.712073,53.9874,-2388.803,...,141.0963,12690115.0,3482604.0,7733458.0,7722096.0,2500.768729,0.372250,15455554.0,Cold,Large

In [4]:
emissions_by_year = co2_emissions.groupby('Year')['total_emission'].sum().reset_index()
emissions_by_year.head()

   Year  total_emission
0  1990    1.108960e+07
1  1991    1.127168e+07
2  1992    1.116467e+07
3  1993    1.126050e+07
4  1994    1.149128e+07

In [11]:
avg_temp_by_year = co2_emissions.groupby('Year')['Average Temperature °C'].mean().reset_index()
avg_temp_by_year.head()

   Year  Average Temperature °C
0  1990                0.582551
1  1991                0.317404
2  1992                0.280593
3  1993                0.256079
4  1994                0.593787

In [12]:
avg_temp_by_year.to_csv('avg_temp.csv', index=False)
emissions_by_year.to_csv('emissions_by_year.csv', index=False)